<nav class="navbar bg-body-tertiary mb-5">
  <form class="container-fluid justify-content-center">
    <button
      class="btn btn-sm btn-outline-success me-2"
      type="button"
      routerLinkActive="active"
      routerLink="/employees-list"
    >
      View Employees
    </button>
    <button
      class="btn btn-sm btn-outline-secondary"
      type="button"
      routerLinkActive="active"
      routerLink="/create-employee"
    >
      Create Employee
    </button>
  </form>
</nav>

<router-outlet></router-outlet>
